#navbar
{   width: 99%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}
#navbar>h2{
    margin-left: 25px;
}
#user_data_table{
    margin: auto;
    border: 1px solid red;
    margin-top: 30px;
}
#user_data_table>tr{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}
#user_data_table>tr>td,th{
 font-size: 25px;
 padding: 10px;
 border: 1px solid red;
}
.status{
    background-color: chartreuse;
}
table{
    border-collapse: collapse;
}
.price{
    background-color: antiquewhite;
}