#top_pic{
    width: 100%;
    background-color: #ee9dab ;
    text-align: center;
    margin-top:10px;

}
#top_pic>div{
    padding: 60px ;
}
.heading{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
#top_pic>div>div>img{
    width: 590px;
    height:480px;
}
#abt_detials{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    /* border: 1px solid red; */
}
.abt_para{
    font-family: "Roboto";
    font-size:21px ;
    font-weight: 400;
    line-height: 40px;
    
}
#abt_detials>img{
   width: 95%;
   border-radius: 10px;
}
.btn_div{
    margin-top: 80px;
    text-align: center;
}
.btn_anchor{
    width: 210px;
    height: 48px;
    background-color: #2c4bff;
    font-size:18px ;
    font-weight: 400;
    font-family:"Roboto" ;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
}
.btn_anchor:hover{
    background-color:  #0a209e;
    font-size:18px ;
    font-weight: 400;
    font-family:"Roboto" ;
}
#grey_box{
   
    /* border: 1px solid red; */
    background-color:#f5f5f5;
    background-image: url("https://buffer.com/static/background/white-doodle-section.png");
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 70px;
}

#grey_box>div{
    margin: auto;
   padding: 100px ;
}
#grey_box>div>h2
{
font-family: "Poppins";
font-weight: 700;
font-size: 72px;
line-height: 4px;

}
#grey_box>div>p{
margin-top: 50px;
}
#grey_box>div:nth-child(1)>h2:nth-child(1)
{
    color: #87c221;
}
#grey_box>div:nth-child(2)>h2:nth-child(1)
{
    color: #fad32a;
}
#grey_box>div:nth-child(3)>h2:nth-child(1)
{
    color: #e97284;
}
#grey_box>div>p{
    font-family: "Poppins";
   
    font-size: 24px;
   text-align: center;
   font-weight: 500;

}
#mid_div{
    margin: auto;
    /* border:1px solid red; */
    text-align: center;
    margin-top: 200px;
}
#mid_div>h2{
    font-family: "Poppins";
    font-size: 34px;
   text-align: center;
   font-weight: 700;
   line-height: 44px;
}
#mid_div>img{
   margin-top: 50px;
    width: 65%;
  
}

#our_values{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    /* text-align: center; */
}
#values_heading>h2{
    font-family: "Poppins";
     font-size: 34px;
    line-height: 44px;
    font-weight: 700;
}
#values_heading>p{
    font-family: "Roboto";
    font-size:21px ;
    font-weight: 400;
    line-height: 40px;
}
#values_list>ol{
    font-family: "Poppins";
    font-size: 18px;
   line-height: 24px;
   font-weight: 700;

}

#values_list{
    /* border: 1px solid red; */
}
#values_list ol:hover>.ul-list
{   
    /* display: block; */
    border: 1px solid black;
}
.list_headig_flex
{
    display: flex;
    justify-content: space-between;
    padding:30px 10px
}
.list_headig_flex>label{
    display: block;
    position: relative;
}
.ul-list{
    /* border: 1px solid red; */
    max-height: 0;
    transition: all 0.1s;
    overflow: hidden;
    font-family: "Roboto";
    font-size:16px ;
    font-weight: 400;
    line-height: 24px;
    list-style-type: circle;
}
.ul-list>li{
    list-style-type: circle; 
    margin: 40px;
}
.acc_toggle{
    display: none;
}
.acc_toggle:checked~.ul-list{
    max-height: 100vh;

}
/* .list_headig_flex::after.ul-list{
    display: block;
} */
#group-image{
   
    margin-top: 50px;
    background-image: url("https://buffer.com/static/team/team-panorama.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 517px;
    /* border: 5px solid red; */
   margin-left: -505px;
}
#transparency{
    background-color: #f5f5f5;
}
.t-heading{
    width: 50%;
    margin:auto;
    
    padding-top: 150px;
}
.t-heading>h2{
   
    font-family:"Poppins"; 
    font-size:34px;
    font-weight:700;
    line-height:44px ;
}
.t-heading>p{
    margin-top: 50px;
    font-family:"Roboto"; 
    font-size:21px;
    font-weight:400;
    line-height:40px ;   
}
.t-grid{
 
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    /* border: 1px solid red; */
 }
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: auto;
    /* border: 1px solid black; */
}
.card>img{
    width: 45px;
    margin: auto;
    text-align: left;
    margin: 20px;
}
.card>h4{
   font-family: "Poppins";
   font-weight:600 ;
   font-size:16px ;
   line-height:22px ;
}
.card>p{
    font-family: "Roboto";
    font-weight:400 ;
    font-size:16px ;
    line-height:27px ;
 }
 .card>a{
    font-family: "Roboto";
    font-weight:400 ;
    font-size:16px ;
    line-height:30px ;
    color: #2c4bff;
    text-decoration: none;
 }
 #team{
    margin: auto;
    margin-top: 150px;
    text-align: center;
 }
 .team-heading{
    width: 50%;
    margin: auto;
    text-align: left;
 }
 .team-heading>h2{
    font-family: "Poppins";
    font-weight:700 ;
    font-size:34px ;
    line-height:44px ;
 }
 .team-heading>p{
    font-family: "Roboto";
    font-weight:400 ;
    font-size:21px ;
    line-height:40px ;
    margin-top: 50px;
 }
 .team-img{
    width: 900px;
    height: 900px;
 }
 