body{
    /* margin-top:100px; */
}
#top_headings{
 margin: auto;
 width: 60%;
 /* border: 1px solid red; */
 text-align: center;
 margin-top: 150px;
}
.top_p{
 font-family:"Roboto";
 font-weight: 700;
 font-size: 16px;
 color: #2c4bff;
}
.heading_p{
 font-family:"Poppins",sans-serif;
 font-weight: 700;
 font-size: 48px;
 line-height: 64px;
 color:#000000; 
}
.bottom_p{
font-family:"Roboto",sans-serif;
 font-weight: 400;
 font-size: 21px;
 line-height: 48px;
 color:#000000; 
}
#allcards{
    margin: auto;
}
.cards{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.clogo{

    height:40px;
    width:300px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.clogoimg{
    height:40px;
    width:300px;  
}
.cquote{
  /* border: 1px solid red; */
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
font-family:"Roboto",sans-serif;
 font-weight: 400;
 font-size: 24px;
 line-height: 46px;
 color:#3d3d3d; 
}
.redirectlink{
    
    width: 40%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top:40px ;
    text-align: center;
}
.case_study{
    margin: auto;
 font-family:"Roboto",sans-serif;
 font-weight: 400;
 font-size: 21px;
 line-height: 40px;
 color:#2c4bff; 
 text-decoration: none;

}
.customer_detials{
    /* border: 1px solid red; */
    margin: auto;
    margin-top:40px ;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;  
    justify-content:center;
    
}
.customer_image{
    /* border: 1px solid red; */
}
.customer_name{
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 15px;
    font-family:"Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#9b9b9b;
    font-stretch: expanded;
    margin-top: 10px;
    
}
.cards:nth-child(1)
{   border-image: linear-gradient(90deg,#7857ff,
    #65b8ff) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(2)
{   border-image: linear-gradient(90deg,#e0364f,
    #ff712c) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(3)
{   border-image: linear-gradient(90deg,#ff712c,
   #fce76a) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(4)
{   border-image: linear-gradient(90deg,#2d4bff,
    #c37dff) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(5)
{   border-image: linear-gradient(90deg,#e0364f,
    #ff712c) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(6)
{   border-image: linear-gradient(90deg,#00c8cf ,
    #98e9ec) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(7)
{   border-image: linear-gradient(90deg,#7856ff,
    #65b8ff) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(8)
{   border-image: linear-gradient(90deg,#ff712c,
    #fceb7d) 1;
    border-width: 6px;
    border-style: solid;
    
}
.cards:nth-child(9)
{   border-image: linear-gradient(90deg,#00c8cf,
    #99e9ec ) 1;
    border-width: 6px;
    border-style: solid;
    
}

