@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
   /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Roboto;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

#navbar {
    display: flex;
    justify-content: space-around;
}

#logo {
    display: flex;
    width: 15%;
    align-items: center;
    height: auto;
}

#logo>a>img {
    width: 100%;
    cursor: pointer;
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.item {
    position: relative;
    margin: 15px;
    padding: 10px 0;
    /* border: 1px solid red; */
}

.item>a {
    position: relative;
    font-size: 19px;
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    padding: 5px 0;
    transition: 600ms;
}

.item>a::after {
    width: 0%;
    /* border-radius: 5px; */
    content: "";
    position: absolute;
    bottom: 0;
    left: 33%;
    height: 3px;
    background: #2c4bff;
    transition: 600ms;
}

.item>a:hover::after {
    width: 15px;
}

.item>a:hover,
.item>a>i:hover {
    color: #2c4bff;
}



.item>a>i {
    margin-left: 8px;
}

#start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
}

.btn {
    border: none;
    background-color: #2c4bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0b25b6;
}

#login>a {
    font-size: 19px;
    text-decoration: none;
    color: #2c4bff;
}

#login>a:hover {
    border-bottom: .5px solid #2c4bff;
}

#menu {
    display: flex;
    align-items: center;
    display: none;
}

#menu>i {
    font-size: 20px;
}



@media (min-width:320px) and (max-width:1024px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: 0;
        left: 0;
        /* align-items: flex-start; */
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
        overflow-x: hidden;
        transition: .5s linear;
    }

    .fa-solid.fa-xmark {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: .1s;
    }

    .active>.nav-items {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        pointer-events: all;
        transition: .5s linear;
    }

    .active+#start>#menu>.hide {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: .2s;
    }

    .active+#start>#menu>.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: .1s;
    }

    #menu {
        display: flex;
        cursor: pointer;
        z-index: 99;
    }

    #start {
        width: max-content;
    }

    #start>div {
        margin: 20px;
    }

    #navbar {
        justify-content: space-between;
    }

}

/* Dropdown Menu */

.drop_down {
    position: absolute;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    top: 100%;
    z-index: -10;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.item:hover>.drop_down {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
}

.card {
    display: flex;
    gap: 0 15px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: 500ms;
    margin: 15px 0;
}

.card:hover {
    background-color: #eee;
    transition: 300ms;
}

.card>div {
    padding: 0 10px;
}

.card>div>p {
    color: grey;
    margin-top: 5px;
    font-size: 14px;
}

.card>div>i {
    font-size: 20px;
}



/* blue-section */
#blue-section {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c4bff;
    position: relative;
    margin-bottom: 100px;
}

#content {
    text-align: center;
    width: 50%;
    font-family: Poppins;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    font-size: 25px;
}

.btn-2 {
    margin-top: 40px;
    border: none;
    font-size: 19px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #e97284;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

#back-1 {
    height: 100%;
    width: 20%;
    background-image: url(https://buffer.com/static/background/triangle-green.svg), url(https://buffer.com/static/background/planet@2x.png), url(https://buffer.com/static/background/circle-pink.svg);
    background-repeat: no-repeat;
    background-size: 40px, 180px, 60px;
    background-position: 120px 75px, -55px 160px, 88px 105%;
    position: absolute;
    top: 0px;
    left: 0;
}

#back-2 {
    height: 100%;
    width: 20%;
    background-image: url(https://buffer.com/static/background/circle-brush@2x.png), url(https://buffer.com/static/background/lines-orange.svg), url(https://buffer.com/static/background/triangle-yellow.svg);
    background-repeat: no-repeat;
    background-size: 40px, 180px, 26px;
    background-position: 0px 30px, 137px 110px, 165px 246px;
    position: absolute;
    top: 0px;
    right: 0px;
}


#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#buffer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buffer>h1 {
    font-size: 45px;
}

#s-links {
    margin-bottom: 15px;
}

#s-links>i {
    margin: 0 10px;
    font-size: 20px;
}

#s-links>i:first-child {
    margin-left: 0;
}

#s-links>i:hover {
    color: #2c4bff;
    cursor: pointer;
}

.lh {
    line-height: 2.5;
}

#download>p {
    font-weight: bold;
    margin-bottom: 5px;
}

.d-btn {
    background-color: #fff;
    border: 1px solid #2c4bff;
    border-radius: 10px;
    padding: 5px 20px;
    color: #2c4bff;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

.d-btn:hover {
    background-color: #bcc4f0;
}

.d-btn>i {
    margin-right: 5px;
}

#copyright {
    color: grey;
    font-size: 14px;
}

#footer>div>h4 {
    font-size: 20px;
}

#footer>div>p:hover {
    color: #2c4bff;
    cursor: pointer;
}