body{
    margin: 0;
    padding: 0;
}


#container{
    display: flex;
    width: 100%;
    font-family:'Roboto';
    padding-left: 20px;
}

#lhs-container{
    width: 67%;
    
    /* height: 100%; */
}

#middleLogo{
    padding: 2rem;
    width: 30%;
    
}

#rhs-container{
    width: 33%;
    
}

#form_div{
    width: 55%;
    margin: auto;
    text-align: left;
}

.input-lb{
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.input-cl{
    width: 95%;
    height: 35px;
    border-radius: 4px;
    box-shadow: 2px 2px 0 2px transparent;
    margin: 8px 0px;
    border: 1px solid #B8B8B8;
}

#recaptcha{
    margin-top: 3%;
}

.extr-tb{
    display: flex;
    margin-top: 20px;
    padding-left: 1rem;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    
    /* gap: 24px; */
}

.tag-clr{
    color: #3d3d3d;
    
}

.btn-div{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.free-btn{
    color: #b8b8b8;
    background-color: #2022fe;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    width: 95%;
    height: 38%;
    cursor: pointer;
    
}

.signup_btn{
    color: #6ea9b1e3;
    background-color: rgba(198, 168, 199, 0.514);
    border: 1px solid #b8b8b8e3;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    width: 95%;
    height: 38%;
    cursor: pointer;
}

.blw-frm{
    display: flex;
    column-gap: 20%;
}

a{
    text-decoration: none;
    color: rgb(93, 176, 209)
}

#rhsc{
    width: 100%;
    background-image: url("/snotty-planes-1391/images/signup-bkg-publish.png");
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 1rem; 
}

#rhsc>div:nth-child(1){
    padding-top: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
}

#password-cntnr{
    width: 100%;
    height: 640px;
    border: 1px solid rebeccapurple;
    background-image: url("	https://static.buffer.com/login/public/img/page-background.svg");
}
#middleLogo1{
    padding-top: 2rem;
    width: 30%;
    
}
#pwd-cnt{
    width: 40%;
    height: 565px;
    margin: auto;
    padding: 2rem;
    text-align: left;
    /* border: solid 1px red; */
    background-color: #FFFFFF;
}
#pwd-cnt>div{
    width: 80%;
    padding: 0.5rem;
}
.pwd-btn{
    /* margin: 15px 0px; */
    color: #486569e3;
    background-color: rgba(198, 168, 199, 0.514);
    border: 1px solid #b8b8b8e3;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    width: 95%;
    height: 50px;
    cursor: pointer;

}