body{

}
#container{
    display: flex;
    width: 100%;
    font-family:'Roboto';

    margin: 10px;
    padding: 20px;
}

#middleManLogo{
    margin-bottom: 20px;
    height: 10%;
}

#form-div{
    text-align: left;
   
    width: 80%;
    line-height: 20px;
}


.input-cl{
    width: 95%;
    height: 35px;
    border-radius: 4px;
    box-shadow: 2px 2px 0 2px transparent;
    margin: 8px 0px;
    border: 1px solid #B8B8B8;
}

.input-lb{
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.log_in{
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    font-size: 32px;
    margin-bottom: 8px;
    color: #3D3D3D;
}

.btn-login{
    width: 97%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2c4bff;
    margin: 8px 0px;
}

a{
    text-decoration: none;
}

.desc{
    padding: 2rem 0;
    text-align: center;
}

.desc>p{
    font-family: 'Roboto';
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    color: #636363;

}

.signin-dwn{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#lhs-container{
    width: 33%;
    /* height: 100%; */
}


#rhs-container{
    width: 67%;
    
}
#rhs1{
    display: flex;
  
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    align-items: center;
    background-color: #F5F5F5;
    justify-content: space-between;
    margin: 0px auto;
    overflow-y: auto;
    max-width: 100%;
}
#rhs2{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding-top: 8%;
    background-color: #fade2a;
    position: relative;
    overflow: hidden;
    
}
.cjdJHk {
    padding-left: 10%;
    width: 20%;

    

}
.cjdJHk>div{
    width: 150px;
    height: 20px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight:800;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 17px;
    margin-bottom: 28px;
    padding: 4px 8px;
    text-align: center;
    color: #645911;

}
.cjdJHk>h2{
    font-family: 'Poppins','Roboto','sans-serif';
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 46px;
    text-align: left;
    margin-bottom: 20px;
    color: #232323;
}

.cjdJHk>p{
    font-family: 'Roboto','sans-serif';
    max-width: 400px;
    margin-bottom: 24px;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

#rhs2 >img{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 60%;
}