@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

.width90 {
    width: 90%;
    margin: auto;
}

.width80 {
    width: 80%;
    margin: auto;
}

#hero {
    display: flex;
    padding: 30px;
    gap: 0 35px;
    padding-bottom: 100px;
}

.left,
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 35px;
}

.left>h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    font-weight: bolder;
}

.left>p {
    line-height: 30px;
}


.right>img {
    display: block;
    text-align: center;
    width: 90%;
}

.btn-1 {
    border: 1px solid #2c4bff;
    background-color: #fff;
    color: #2c4bff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #c7cef3;
}

.btn-1>i {
    color: #2c4bff;
    margin-right: 5px;
}

#line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}

#line>div {
    width: 15%;
}

#mid1 {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 50px;
}

#mid1>h1 {
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 30px;
}

#mid1>p {
    padding: 0 26%;
}

#arrow {
    padding-bottom: 100px;
}

#arrow>img {
    width: 100%;
}

.left>h3 {
    color: #2c4bff;
}

.left>.heading {
    font-family: Poppins;
    font-weight: bold;
    font-size: 30px;
}

.ml0 {
    margin-left: 0;
}

#partner {
    text-align: center;
}

#c-logo {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#c-logo>div {
    display: flex;
    align-items: center;
    width: 8%;
    margin: 30px 0 80px 0;
}

#c-logo>div>img {
    width: 100%;
}

#partner>h3 {
    font-family: Poppins;
}

/* Responsive */

@media (min-width:320px) and (max-width:1024px) {
    #hero {
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    #hero.s2 {
        flex-direction: column-reverse;
    }

    .left,
    .right {
        width: 100%;
        text-align: center;
        gap: 0;
        line-height: 1.5;
    }

    .buttons {
        margin: 10px 0;
    }

    .buttons>button {
        margin: 10px 0;
    }
}